<p id="notice"><%= notice %></p>

  <h1>タスク一覧</h1>
  <table>
    <tbody>
      <%= form_with(model: @task, method: :get, local: true, ) do |form| %>
        <tr>
          <th><%= form.label :'タスク名' %></th>
          <td><%= form.text_field :title %></td>
          <th><%= form.label :'ステータス' %></th>
          <td><%= form.select :status, Task.statuses.keys, include_blank: true %></td>
          <th><%= form.label :'優先度' %></th>
          <td><%= form.select :priority, Task.priorities.keys, include_blank: true %></td>
          <td><%= form.submit '検索', title: 'search' %></td>
        </tr>
      <% end %>
    </tbody>
</table>

<p class="btn_sort"><%= link_to "終了期限でソートする", tasks_path(sort_expired: "true") %>

<table class="task_details">
  <thead>
    <tr>
      <th>タスク名</th>
      <th>内容</th>
      <th>終了期限</th>
      <th>登録日時</th>
      <th>ステータス</th>
      <th>優先度</th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr class="task_row" >
        <td><%= task.title %></td>
        <td><%= task.content %></td>
        <td><%= task.expired_at %>
        <td><%= task.created_at %></td>
        <td><%= task.status %></td>
        <td><%= task.priority %></td>
        <td><button type="button" class="btn btn-info"><%= link_to '詳細', task %>
        <td><button type="button" class="btn btn-success"><%= link_to '編集', edit_task_path(task) %></td>
        <td><button type="button" class="btn btn-danger"><%= link_to '削除', task, method: :delete, data: { confirm: '本当に削除しますか？' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新規登録', new_task_path %>

<%= paginate @tasks %>
